.map-container {
	width: 100%;
	height: 100%;
	border-radius: var(--border-radius-big);

	.loading-spinner-container {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1400;
		display: flex;
		justify-content: center;
		align-items: center;

		.loading-background {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: grey;
			opacity: 0.4;
		}

		.loading-spinner {
		}
	}
}
