.routes-map {
	display: flex;
	flex-direction: row;
	// width: 100%;
	max-height: 100vh;
	padding: 20px var(--space-side-padding);
	gap: 30px;

	.trips-container {
		padding-right: 20px;
		// overflow-y: auto;
		display: flex;
		flex-direction: column;

		.trips-header-container {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: 10px;
		}

		.trips-header-text {
			font-size: 24px;
			font-weight: var(--font-weight-semi-bold);
		}

		.trips-header-button {
		}
	}

	.trips-container,
	.map-container {
		// flex-basis: 50%;
		flex-grow: 1;
		max-width: 50%;
		max-height: 100vh;
	}

	// .map-container {
	// 	max-height: 100vh;
	// }
}
