.trips-header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: var(--border-radius-big);
	margin-bottom: 10px;

	.trips-header-text {
		font-size: 24px;
		font-weight: var(--font-weight-semi-bold);
	}

	.trips-header-buttons {
		display: flex;
		gap: 10px;
	}

	.trips-header-button {
	}
}