.search-filter {
	height: 225px;
	background-color: #efebcb;
	padding: 20px var(--space-side-padding);

	.location-form {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		gap: 20px;
	}
}
