.search-filter {
	display: flex;
	flex-direction: column;
	gap: 20px;
	background-color: #f7f3d7;
	padding: 20px 50px;

	.location-form {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		gap: 10px;
		flex-wrap: wrap;
	}
	.filter-buttons {
		display: flex;
		flex-direction: column;
		gap: 14px;

		.filter-buttons-transport,
		.filter-buttons-general {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 12px;
		}
		.filter-button-disabled button {
			background-color: #d9d8c4 !important;
			color: #9b9a8a !important;
			border-color: #9b9a8a !important;

			svg {
				fill: #9b9a8a !important;
			}
		}
	}
}
